@import url('https://at.alicdn.com/t/c/font_4305492_ubis9m3cd2a.css');

/* ==== 【 内容展示与右侧内容展示同步更新样式 】 ==== */
.main-box .content {
    position: relative;
}

/* ----轮播 + 热门 + 作品按钮容器 ---- */
.top-contentBox {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 100px;
    grid-template-areas: 
    "slider popular"
    "zuopin popular";
    justify-content: center;
    gap: 15px;
}

/* --- 轮播卡片 --- */
.slider-card {
    grid-area: slider;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    background: #fffcf2;
    /* background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ff7c20' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    overflow: hidden;
}

/* 轮播文字容器 */
.slider-text {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 35px;
    margin-left: 20px;
}

.slider-text h1 {
    font-size: 32px;
    font-weight: 900;
    
}

/* 轮播内容网址 */
.slider-web {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.slider-web p {
    font-size: 18px;
    font-weight: 250;
}

/* 轮播容器 */
.slider-box {
    width: 270px;
    height: 1200px;
    gap: 15px;
    position: absolute;
    right: 0;
    top: -140%;
    transform: rotate(35deg) skew(-20deg) scale(0.7);
    transform-style: preserve-3d;
    transition: all 2s ease;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

/* 排列容器 */
.slider-list {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.slider-list.A {
    top: 6%
}


/* 图标容器 */
.slider-img {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    will-change: transform;
    animation: sliderList 60s infinite linear;
    animation-delay: calc(60s / var(--quantity) * (var(--imgs) * -1));
}

@keyframes sliderList {
    to {
        top: calc(-20px * var(--quantity));
    }
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    /* border: 2px solid rgba(26, 26, 26, 0.6); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-box:hover {
    transform: none;
}

/* --- 热门卡片 --- */
.popular-card {
    grid-area: popular;
    height: 100%;
    border: 2px solid #252422;
    border-radius: 10px;
    align-items: flex-start;
    background-image: url("/img/main.img/骨头代码.jpg");
    background-size: cover;
    position: relative;
}


/* 热门文字 */
.popular-card .popular-text {
    color: white;
    margin-left: 30px;
    position: absolute;
    display: felx;
    flex-direction: column;
    bottom: 10px;
    width: auto;
    height: 90px;
    user-select: none;
    overflow: hidden;
}

.popular-text p {
    font-size: 18px;
    font-weight: 300;
}

.popular-text h1 {
    font-size: 35px;
    font-weight: 700;
}

/* 热门按钮 */
.popular-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.434);
    backdrop-filter: blur(5
    px);
    border: none;
    border-radius: 30px;
    width: auto;
    height: 60px;
    padding: 20px;
    transition: all 0.4s;
}

.popular-btn i {
    font-size: 2.7em;
    color: white;
    margin-right: 15px;
    transform: rotate(30deg) scale(1);
    transition: all 0.8s ease;
}

.popular-btn h2 {
    font-size: 20px;
    color: white;

}

/* 热门按钮悬停效果 */
.popular-btn:hover {
    background: #eb5e28;
    box-shadow: 0 0 15px #ff6302;
}

.popular-btn:hover i {
    transform: rotate(0deg) scale(1.2);
}

/* --- 作品集卡片 --- */
.zuopin-card {
    grid-area: zuopin;
    height: 100%;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    justify-content: space-between;
}

/* -- 作品按钮小卡片样式 -- */
.zuopin-card .itme-btn {
    width: calc(100% / 3);
    height: 100%;
    border: 1px solid;
    background: #2534d9;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    gap: 15px;
    display: flex;
    align-items: center;
    position: relative;
    transition: width 0.8s  ease-in-out;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* 按钮卡片背景颜色 */
.zuopin-card .itme-btn.lan {
    background: linear-gradient(320deg,#52d1e7,#0528d7);
}

.zuopin-card .itme-btn.cheng {
    background: linear-gradient(320deg,#f0ae75,#f37629);
}

.zuopin-card .itme-btn.zi {
    background: linear-gradient(135deg,#834d9b,#d04ed6);
}

/* 按钮图标卡片样式 */
.zuopin-card .itme-btn i {
    font-size: 8em;
    position: absolute;
    opacity: 0.4;
    transform: rotate(25deg) scale(1);
    transition: transform 1.8s ease, opacity 1s ease, right 1s ease-in-out;
    filter: blur(2px);
    right: 0;
}

/* 按钮悬停过度效果 */
.zuopin-card .itme-btn:hover i {
    transform: rotate(0deg) scale(0.45);
    opacity: 0.9;
    filter: blur(0);
    right: -40px;
}

/* 悬停按钮扩展宽度 */
.zuopin-card .itme-btn:hover {
    width: 50%;
}

/* 悬停按钮被选中，其它按钮卡片模糊 */
.zuopin-card:hover > .itme-btn:not(:hover) {
    filter: blur(2px);
}


/* ==== 【 主内容样式 】 ==== */
.main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - 350px) 350px;
    position: relative;
    /* border: 2px solid; */
    margin-top: 15px;
}


/* ---- 分类导航栏 ---- */
.nav-card {
    width: 100%;
    height: 55px;
    border: 1.5px solid #403d39;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc5b9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- 导航项 --- */
.nav-card ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* -- 分类名 -- */
.nav-card li {
    list-style: none;
    min-width: 50px;
    height: 100%;
    padding: 0 12px;
    gap: 10px;
    white-space: nowrap;
}

/* - 导航链接 - */
.nav-card li a  {
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #252422;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==== 【 右侧内容样式 】 ==== */
.right-content {
    /* width: 350px; */
    height: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    border: 1px solid;
}

/* ---- 作者卡片 ---- */
.author-card {
    width: 310px;
    height: 440px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: #252422 1px solid;
    position: relative;
}

/* ---- 标签卡片 ---- */
.label-card {
    width: 310px;
    height: 350px;
    border: #252422 1px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
